@charset "UTF-8";


 /* pour masquer les flèches du champ de saisie de type number */


.btn-danger {
	display:block;
    padding:10px;
    font-weight: 300;
    border-radius: 10px;
    outline:none;
    border: none;
    cursor:pointer;
    position:relative;
    box-shadow: 0px 6px  #77151e;;
}
.btn-success {
	display:block;
    padding:10px;
    font-weight: 300;
    border-radius: 10px;
    outline:none;
    border: none;
    cursor:pointer;
    position:relative;
    box-shadow: 0px 6px  #0c4229;
}

.btn-danger:hover{
    box-shadow: 0px 4px #77151e;
    top: 2px;
}
.btn-success:hover{
    box-shadow: 0px 4px #0c4229;
    top: 2px;
}

.btn-danger:active{
    box-shadow: 0px 0px #4E5157;
    top: 6px ;
}

.btn-success:active{
    box-shadow: 0px 0px #0c4229;
    top: 6px ;
}